 body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: linear-gradient(135deg, #25D366, #128C7E);
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    .container {
      background: white;
      width: 80%;
      padding: 3vw;
      border-radius: 12px;
      text-align: center;
      box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    }

    .profile {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      background: #25D366;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 28px;
      margin: 0 auto 10px;
      font-weight: bold;
    }

    h2 {
      font-size: 0.9rem;
    }

    p {
      font-size: 14px;
      color: #555;
      margin-bottom: 20px;
    }

    .profile img{
        width: 100%;
       border-radius: 50%;
       height: 100%;
    }

    .btn {
      display: block;
      text-decoration: none;
      background: #25D366;
      color: white;
      padding: 12px;
      margin: 10px 0;
      border-radius: 8px;
      font-weight: bold;
      transition: 0.3s;
      transition: 0.4s;
    }

    .btn:hover {
      background: rgb(251,235,74);
      color: black;
    }
  

    @media(min-width: 900px){
        .container {
            width: 40%;
        }
    }